*{
    margin:0;
    padding:0;
    text-align:center;
}


body{
    margin:0;
    padding:0;
    color:white;
    background-color: rgb(26, 26, 42);
}

.box{
    margin:5% 20% 20% 20%;
}


table, td,th{
    border:2px solid white;
    padding:5px;
}
th{
    padding:12px 0px;
    background-color: rgb(70, 70, 206);
}
table{
    
    width:100%;
    border-collapse:collapse;
}

.each-section{
    margin-bottom:5vh;
}
h1{
    text-align: center;
    margin-bottom:5%;
}

button{
    background-color:blueviolet;
    width:230px;
    padding:8px 5px;
    border-radius: 8px;
    border-style:none;
}

button:hover{
    background-color: purple;
}

